[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp_cors = "*"
gunicorn = "*"
pyotp = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
